@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

:root{
    --bg-colors: #081b29;
    --second-bg-colors: #112e42;
    --text-colors: #ededed;
    --main-colors: #00abf0;
}


body{
    background-color: var(--bg-colors);
}
.header{
    position: fixed;
    padding: 1rem 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #081b29;
}
.header i{
    font-size: 2rem;
    color: #ededed;
    display: none;
}

.header-logo a{
    font-size: 2rem;
    color: var(--text-colors);
}
.navber a{
 font-size: 1.2rem;
 color: #00abf0;
 margin-right: 20px;
}